body {
    font-family: Arial;
    background: linear-gradient(to right, #4facfe, #00f2fe);
    text-align: center;
    color: white;
}

h1 {
    margin-top: 20px;
}

.container {
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
}

/* Cards */
.calculator, .timer {
    background: rgba(255,255,255,0.1);
    padding: 20px;
    border-radius: 15px;
    backdrop-filter: blur(10px);
}

/* Calculator */
#display {
    width: 100%;
    height: 40px;
    font-size: 20px;
    margin-bottom: 10px;
    text-align: right;
    border: none;
    border-radius: 5px;
    padding: 5px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 60px);
    gap: 10px;
}

button {
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

button:hover {
    background: #ddd;
}

.clear {
    grid-column: span 4;
    background: red;
    color: white;
}

/* Timer */
#time {
    font-size: 40px;
    margin: 20px 0;
}

input {
    padding: 8px;
    border-radius: 5px;
    border: none;
}

.tbuttons button {
    margin: 5px;
}